@import "./style.scss";
@import "./common.scss";
@import "./mixin.scss";


// header
header {
    .main-menu {
        #logo {
            display: block;
            position: fixed;
            top: 42px;
            left: 11.2%;
            z-index: 100;
    
            @include responsive(tablet-size) {
                left: 5%;
            }
        }

        .navbar {
            .gnb {
                overflow: hidden;
                position: fixed;
                top: 42px;
                right: 11.2%;

                @include responsive(tablet-size) {
                    right: 5%;
                }

                li {
                    &:not(:last-child) {
                        display: none;

                        @include responsive(tablet-size) {
                            display: inline-block;

                            a {
                                margin-right: 25px;
                            }
                        }

                    }

                    .hamburger-btn {
                        span {
                            background: $white;
                            display: block;
                            width: 25px;
                            height: 3px;
                            margin: 5px 0;
                        }

                        @include responsive(tablet-size) {
                            display: none;
                        }
                    }

                }
            }

            /*.gnb {
                overflow: hidden;
                position: fixed;
                top: 42px;
                width: 100%;

                @include responsive(tablet-size) {
                    float: right;
                    right: 5%;
                }

                a {
                    color: $white;
                    display: none;
                    text-align: center;

                    &:hover {
                        background-color: $color-background;
                        color: $orange;
                    }

                    @include responsive(tablet-size) {
                        display: inline-block;
                        float:right;
                        margin-right: 30px;
                    }
                }

                .hamburger-btn {
                    display: block;
                    float: right;
                    margin-right: 11.2%;

                    @include responsive(tablet-size) {
                        display: none;
                    }
                    
                    span {
                        background: $white;
                        display: block;
                        width: 25px;
                        height: 3px;
                        margin: 5px 0;
                    }
                }
            }*/
        }
    }
}

//section
section {
    text-align: center;

    .intro-text {
        display: block;
        margin-top: 235px;
        margin-bottom: 200px;

        h1 {
            margin-bottom: 65px;
            font: {
                size: 5em;
                weight: bolder;
            }
            @include responsive(pc-size) {
                font: {
                    size: 18.75em;
                }
            }
        }
        h2 {
            font: {
                size: 3em;
            }
            @include responsive(pc-size) {
                font: {
                    size: 6.57em;
                }
            }
        }
    }

    .introduce {
        margin-bottom: 50px;
        
        h2 {
            font-size: 4.4em;
            margin-bottom: 60px;
        }
        .introduce-img {
            width: 70%;
            margin: 0 auto;
        }
        .explain {
            h3 {
                color: $orange;
                font-size: 1.8em;
                margin: 20px 0 5px 0;
            }
            .name {
                font-size: 2.8em;
                font-weight: bolder;
                margin-bottom: 67px;
            }
        }
        .eng-character {
            width: 80%;
            margin: 0 auto;
            font-size: 1.6em;
            text-align: left;
            display: flex;
            justify-content: space-between;

            .flex-box1,
            .flex-box2 {
                p {
                    margin-bottom: 0.5em;
                }
            }
        }
    }
}