@mixin wrapper() {
    width: 100%;
    margin: 0 auto;
    padding: 0 7%;
}

@mixin confix-tab() {
    width: 90%;
    margin: 0 auto;
}

@mixin confix() {
    width: 1320px;
    margin: 0 auto;
}

@mixin vertical() {
    font-family: $font-bold;
    font-weight: bolder;
    display: none;
    text-align: right;
    opacity: 0.07;

    p {
        &:nth-child(1) {
            animation-delay: .2s;
        }
        &:nth-child(2) {
            animation-delay: .7s;
        }
        &:nth-child(3) {
            animation-delay: .4s;
            transform: translate(22px);
        }
        &:nth-child(4) {
            animation-delay: .1s;
        }
        &:nth-child(5) {
            animation-delay: .3s;
        }
        &:nth-child(6) {
            animation-delay: .5s;
            transform: translate(22px);

        }
        &:nth-child(7) {
            animation-delay: .6s;
        }

        position: relative;
        animation: text-left 1.7s infinite ;
    }
    span {
        font-size: 1.7em;
        transform: translateY(-50%);
    }

    @include responsive(pc-size) {
        display: block;
        font-size: 15em;
        font-weight: bolder;
        line-height: 0.8em;
        p  {
            @keyframes text-left {
                0% { left: 0; }
                20% { left: -1rem; }
                40% { left: 0; }
                60% { left: 0; }
                80% { left: 0; }
                100% { left: 0; }
            }
        }
    }
}

@mixin responsive($break) {
    @if $break == mobile-size {
        @media screen and (min-width: $break-mobile) {
            @content;
        }
    }
    
    @else if $break == tablet-size {
        @media screen and (min-width: $break-tablet) {
            @content;
        }
    }
    
    @else if $break == pc-size {
        @media screen and (min-width: $break-pc) {
            @content;
        }
    }
}