@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Poppins:wght@600;700;800;900&display=swap');

$background: #171717;
$orange: #ea894e;
$white: #ffffff;

$font-sans: 'Noto sans kr';
$font-en: 'roboto';
$font-bold: 'Poppins', sans-serif;

$break-mobile: 320px;
$break-tablet: 768px;
$break-pc: 1460px;